Repository justinsisley/mostly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern /dist/ --fix ./

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --ignore-pattern /dist/ --fix ./",
    "git add"
  ],
  "*.{css,json}": [
    "prettier --write",
    "git add"
  ]
}

Updated dependencies
  package-lock.json
  package.json
Due: prettier --write

Updated husky config
  package.json
Due: prettier --write

Updated eslint config
  package.json
Due: prettier --write

Simplified npm dev script
  package.json
  scripts/dev.sh
Due: prettier --write

Deploy comment fix
  scripts/deploy.sh
Due: none

Updated dependencies
  package-lock.json
  package.json
  scripts/config/webpack.shared.js
Due: prettier --write, eslint --ignore-pattern /dist/ --fix ./

Updated dependencies
  package.json
Due: prettier --write
