Repository justinsisley/mostly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./, prettier --print-width 120 --write

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --ignore-pattern /dist/ --ignore-pattern /src\/public/ --fix ./",
    "git add"
  ],
  "*.{json,css}": [
    "prettier --print-width 120 --write",
    "git add"
  ]
}

Minor readme fixes
  README.md
Due: none

Simplified deploy script
  scripts/deploy.sh
Due: none

Cleaned up test ouput; updated UI
  scripts/testE2E.sh
  scripts/testFunc.sh
  src/client/components/Dashboard/__tests__/e2e.js
  src/client/components/Dashboard/index.jsx
  src/client/components/Dashboard/styles.css
  src/client/components/Form/index.jsx
  src/client/components/Form/styles.css
  src/client/index.html
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./, prettier --print-width 120 --write

Update input field styles
  src/client/components/Form/styles.css
Due: prettier --print-width 120 --write

Simplified login component and container
  src/client/components/Login/index.jsx
  src/client/containers/Login.jsx
  src/client/index.html
  src/client/index.jsx
Due: none

Updated dependencies
  package.json
Due: prettier --print-width 120 --write

Fix for server-side hot reloading; updated dependencies
  package.json
  src/server/utils/hot/index.js
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./, prettier --print-width 120 --write

Fix for input placeholder; added deployment scaling in deploy script
  scripts/deploy.sh
  src/client/components/Form/index.jsx
Due: none

Added token to now scale command
  scripts/deploy.sh
Due: none

Updated dependencies; improved deploy script
  package.json
  scripts/deploy.sh
Due: prettier --print-width 120 --write

Fix for deploy script
  scripts/deploy.sh
Due: none

Updated dependencies; removed unused ignore from lintstagedrc
  .lintstagedrc
  package.json
Due: prettier --print-width 120 --write

Cleaned up lint task
  scripts/lint.sh
Due: none

Removed emoji fonts
  src/client/index.css
Due: prettier --print-width 120 --write

Updated comments in server error util
  src/server/utils/errors/index.js
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./

Updated comments in server index
  src/server/index.js
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./

Updated dependencies; updated JS formatting for ESLint
  .lintstagedrc
  package.json
  src/client/components/Dashboard/index.jsx
  src/client/components/Login/index.jsx
  src/client/containers/Dashboard.jsx
  src/client/contexts/auth.jsx
  src/client/contexts/router.jsx
Due: prettier --print-width 120 --write

Updated css-loader and added cssnano plugin; fixed button style in Firefox
  package.json
  scripts/config/webpack.prd.js
  scripts/config/webpack.shared.js
  src/client/components/Form/styles.css
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./, prettier --print-width 120 --write

Removed redux test placeholder
  package.json
  scripts/testUnit.sh
  src/client/components/App/index.jsx
  src/client/components/Login/index.jsx
  src/client/components/Router/index.jsx
  src/client/containers/Dashboard.jsx
  src/client/containers/Login.jsx
  src/client/containers/Routes.jsx
  src/client/contexts/auth.jsx
  src/client/contexts/router.jsx
  src/client/store/index.js
  src/client/store/reducers.js
  src/client/store/session/index.js
  src/server/api.js
  src/server/controllers/session/__tests__/func.js
  src/server/controllers/session/index.js
  src/server/controllers/users/__tests__/func.js
  src/server/controllers/users/index.js
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./, prettier --print-width 120 --write

Fix for test config
  scripts/testUnit.sh
Due: none

Moved configs to package.json; Added redux unit tests; updated readme
  .babelrc
  .eslintignore
  .eslintrc
  .lintstagedrc
  .npmrc
  .prettierrc
  README.md
  package.json
  src/client/components/App/index.jsx
  src/client/store/index.js
  src/client/store/session/__tests__/unit.js
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./, prettier --print-width 120 --write

Moved configs to package.json; updated readme
  .babelrc
  .eslintignore
  .eslintrc
  .lintstagedrc
  .npmrc
  .prettierrc
  README.md
  package.json
Due: prettier --print-width 120 --write

Updated readme with Redux branch information
  README.md
Due: none

Cleaned up babel config; updated dependencies
  package.json
Due: prettier --print-width 120 --write

Added favicon and HTML minification in production mode
  scripts/config/webpack.shared.js
  src/client/favicon.png
Due: prettier --write, eslint --ignore-pattern /dist/ --ignore-pattern /src/public/ --fix ./

Added npmrc and removed config from package.json; removed lock files from gitignore
  .gitignore
  .npmrc
  package-lock.json
  package.json
Due: prettier --print-width 120 --write

Updated dependencies
  package-lock.json
  package.json
Due: prettier --print-width 120 --write
